<span class="fc-nav-icon-toggle fc-nav-icon-toggle--cart">
  <span class="fc-nav-icon fc-nav-icon--open svg-wrapper">
    {% if cart == empty %}
      {{ 'icon-cart-empty.svg' | inline_asset_content }}
    {% else %}
      {{ 'icon-cart.svg' | inline_asset_content }}
    {% endif %}
  </span>
  <span class="fc-nav-icon fc-nav-icon--close svg-wrapper" aria-hidden="true">
    {{- 'icon-close.svg' | inline_asset_content -}}
  </span>
</span>

<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}
